<section class="bg-light py-5 custom-section">
  <div class="container">
    <!-- Section Header -->
    <div class="text-center mb-5">
      <h2 class="display-4 font-weight-bold text-primary custom-heading">Gestion de Comptes Bancaires en Ligne</h2>
      <p class="mt-4 h5 text-muted text-justify sub-title custom-subtitle">Simplifiez vos opérations bancaires avec notre portail en ligne.</p>
    </div>

    <!-- Feature Cards Section -->
    <div class="row">
      <!-- Left Content with Text -->
      <div class="col-12 col-md-8 col-lg-6 mb-4 custom-padding">
        <h3 class="h3 font-weight-semibold text-primary mb-4 custom-title">
          Comptes bancaires 
        </h3>
        <p class="h5 text-muted mb-4 text-justify custom-paragraph">
          Créez et gérez des comptes bancaires en toute simplicité. Attribuez des comptes à de nouveaux clients et effectuez des opérations bancaires telles que les virements et retraits. Notre banque propose deux types de comptes : un compte courant et un compte épargne.
        </p>

      </div>

      <!-- Right Content with Image Card -->
      <div class="col-12 col-md-6 col-lg-5 mb-4 custom-padding">
        <div class="card shadow-lg border-0 rounded-lg custom-card">
          <img src="https://img.freepik.com/premium-vector/people-standing-front-bank-building-thinking_179970-1771.jpg?w=1060" class="card-img-top" alt="Banking Portal Image">

          <div class="card-body text-center">
            <h4 class="card-title text-white custom-card-title">Portail de Gestion Bancaire</h4>
            <p class="card-text text-light custom-card-paragraph">Optimisez vos transactions bancaires et profitez de notre expérience numérique sécurisée.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
